*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

h2{
  font-size: 0.75rem;
  font-weight: normal;
}

.gray{
  color: #918e9b;
}

.bold{
  font-weight: bold;
}
nav{
  height: 150px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
}

.nav-logo{
  max-width: 100px;
}

section{
  padding: 20px;
}

.hero-container{
  display: flex;
  flex-direction: column;
}

.hero-photo{
  max-width: 800px;
  align-self: center;
}

.hero-header{
  margin-bottom: 16px;
}

.hero-text{
  margin-top: 0;
}

.cards-list{
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

.card{
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  position: relative;
}

.card-title{
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-item{
  position: relative;
  flex: 0 0 auto;

}

.card-image{
  width: 100%;
  border-radius: 9px;
  margin-bottom: 9px;
}

.card-stats{
  display: flex;
  align-items: center;
}

.card-star{
  height: 14px;
}

.card-badge{
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: white;
  color: red;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

/* NAVBAR STYLING */

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-links{
  list-style: none;
  display: none;
  gap: 20px;
}

.nav-links li a{
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}

.nav-links.active{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.nav-links li a.active{
  color: #ff5a5f;
}